<!DOCTYPE html>
<html>
  <head>
    <title>Group Project | D&S</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/styles.css">
      <img class= "banner_width" src="./img/pic_only.png" align="center" />

  </head>
  <body>

    <!-- <img class="img-fluid" src="./img/welcome.png" alt="banner image" /> !-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./img/nav_logo.png" alt="IU Logo" class="logo_size"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="site.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html">Sensors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html">Help</a>
        </li>
      </ul>
    </div>
  </nav>

<div id="vueBinderClient" class="container">

<h2 class="row padding_top_25">
   Ongoing Projects
</h2>


  <div class="row" id="clientCard" v-if="clientClasses">

    <a href="#" class="custom-card" v-for="clientClass in clientClasses" :key="clientId" @click="gotoSite(clientClass.clientId)">
        <div class="card margin_right25" style="width: 28rem; ">
          <div class=" image-container">
            <img title="Image 2" src="./img/tide.png" class="client_logo_size image-responsive"/>
          </div>

            <div class="card-body">

              <h5 class="card-title font_style_bold">{{clientClass.clientName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{clientClass.headquarters}}</h6>

              <p class="card-text">
              {{clientClass.clientDescription}}
              </p>

              <div style="float:right">
                <span class="round-tag ">{{clientClass.gicsSector}}</span>
                <span class="round-tag">{{clientClass.gicsSubIndustry}}</span>
              </div>
            </div>
        </div>
      </a>

</div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/client.app.js"></script>
  </body>
</html>
