<!DOCTYPE html>
<html>
<head>
  <title>Group Project | Team 6 | Turbine</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
  <img class="banner_width" src="./img/pic_only.png" align="center" />
</head>
<body>

  <!--  <img class="img-fluid" src="./img/welcome.png" alt="banner image" /> !-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./img/nav_logo.png" alt="IU Logo" class="logo_size"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="site.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html">Sensors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html">Help</a>
        </li>
      </ul>
    </div>
  </nav>

<div id="vueBinderTurbine" class="container">

  <h2 class="row padding_top_25">
     Site Name
  </h2>
    <div class="row" id="siteCard" v-if="turbineDeployedClasses">
      <div v-for="turbineClass in turbineDeployedClasses">
      <a href="#" class="custom-card padding_top_25"  style="margin-left:50px">
          <div class="card margin_right25 " style="width: 28rem; ">
            <div class=" image-container">
              <img title="Image 2" src="./img/emerald_waters.jpg" class="site_logo image-responsive"/>
            </div>

              <div class="card-body">
                <h5 class="card-title font_style_bold">{{turbineClass.turbineName}}</h5>
                <p class="card-text">
                {{turbineClass.turbineDescription}}
                </p>

                <div class="container no_padding_left">
                    <span class="tt">Ramp-Up Time:&nbsp; {{turbineClass.rampUpTime}} Hours
                    </span>


                <div class="row" style="float: right;" >
                    <span class="tt">Capacity:&nbsp;  {{turbineClass.capacity}}MHz
                    </span>
                </div>
              </div>


              <div class="container no_padding_left" style="margin-top:20px">
                <span class="tt"> Maintenance Interval:&nbsp; {{turbineClass.maintenanceInterval}}
                    </span>

              <div class="row" style="float: right;" >

                  <span class="tt"> Deployed Date:&nbsp;{{turbineClass.deployedDate}}
                  </span>
              </div>
            </div>

            <div class="container no_padding_left" style="margin-top:20px">

                <span class="tt"> Total Fired Hours:&nbsp;{{turbineClass.totalFiredHours}}
                </span>

            <div class="row" style="float: right;" >

                <span class="tt">Total Starts: {{turbineClass.totalStarts}}</span>
            </div>
          </div>

          <div class="container no_padding_left" style="margin-top:20px">
            <span class="tt">Last Planned Outtage:&nbsp; {{turbineClass.lastPlannedOutageDate}}
              </span>
        </div>

        <div class="container no_padding_left" style="margin-top:20px" >
            <span class="tt">Last Unplanned Outtage: {{turbineClass.lastUnplannedOutageDate}}
            </span>
        </div>


              </div>
          </div>
        </a>

        <div class="custom-card padding_top_25">
          <div class="card margin_right25 " style="width: 28rem; ">
            <div class="card-body" v-if="sensorDetailClasses">
              <h5 class="card-title font_style_bold">Sensors Deployed Currently </h5>
              <ul v-for="sensorDetailClass in sensorDetailClasses" :key="sensorDetailClasses.sensorId" @click="gotoSensor(sensorDetailClass.sensorId,turbineClass.turbineDeployedId)">
                <li><a href="#">{{sensorDetailClass.sensorName}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      </div> <!-- row -->

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/turbineDeployed.app.js"></script>
</body>
</html>
